venv/**
env/**
mst/callbacks/trail.ipynb
model_saved/**
data/.ipynb_checkpoints/**
data/*.ipynb

__pycache__
*.egg-info

mix_KE_adv/**
.vscode/
logs/**
checkpoints/
debug
*.wav
*.png
data/FXencoder_ps.pt
outputs/**